In [1]:
import pandas as pd
data=[1,2,3,4]
v=pd.Series(data)
print(v)

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
import pandas as pd
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [5]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df.head(10))
print(df.tail(5))
print(df.info())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None

In [8]:
print(df.describe())
print(df.iloc[1])

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000
TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [13]:
print(df[['UserID','Quantity']])

   UserID  Quantity
0     7.0         1
1     3.0         1
2     3.0         1
3     1.0         3
4     2.0         1
5     2.0         6
6     3.0         1
7     NaN         3
8     7.0         3
9     3.0         4

In [15]:
filtered_df = df[df['Quantity'] > 1]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [19]:
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [30]:
print(df.isnull().sum())
df['UserID'] = df['UserID'].fillna(df['UserID'].mean())

TransactionID      0
TransactionDate    0
UserID             0
ProductID          0
Quant              0
dtype: int64

In [31]:
df.dropna(inplace=True)
print(df.head(6))

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6

In [29]:
df_sorted = df.sort_values(by=["Quant"],ascending=[False])
print(df_sorted.head())

   TransactionID TransactionDate    UserID  ProductID  Quant
5              6      2013-12-23  2.000000          5      6
9             10      2016-05-08  3.000000          4      4
8              9      2015-04-24  7.000000          4      3
3              4      2012-08-26  1.000000          2      3
7              8      2014-04-24  3.444444          2      3

In [32]:
subset = df[df['Quant'] > 1]
print(subset)

   TransactionID TransactionDate    UserID  ProductID  Quant
3              4      2012-08-26  1.000000          2      3
5              6      2013-12-23  2.000000          5      6
7              8      2014-04-24  3.444444          2      3
8              9      2015-04-24  7.000000          4      3
9             10      2016-05-08  3.000000          4      4

In [34]:
foo = [True, False, True, False,True, False, True, False,True, False] # Example of a boolean array
subset_rows = df[foo]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
2              3      2011-06-16     3.0          3      1
4              5      2013-06-06     2.0          4      1
6              7      2013-12-30     3.0          4      1
8              9      2015-04-24     7.0          4      3

In [36]:
subset = df[df['Quant'] > 1][['TransactionID',
'TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [41]:
columns_to_select = ['TransactionDate','TransactionID']
subset_columns = df[columns_to_select]
print(subset_columns)

  TransactionDate  TransactionID
0      2010-08-21              1
1      2011-05-26              2
2      2011-06-16              3
3      2012-08-26              4
4      2013-06-06              5
5      2013-12-23              6
6      2013-12-30              7
7      2014-04-24              8
8      2015-04-24              9
9      2016-05-08             10

In [46]:
print(df.describe())#1
print(df.info())#2,3
print(df.iloc())

       TransactionID     UserID  ProductID      Quant
count       10.00000  10.000000  10.000000  10.000000
mean         5.50000   3.444444   3.400000   2.400000
std          3.02765   2.006163   1.074968   1.712698
min          1.00000   1.000000   2.000000   1.000000
25%          3.25000   2.250000   2.250000   1.000000
50%          5.50000   3.000000   4.000000   2.000000
75%          7.75000   3.333333   4.000000   3.000000
max         10.00000   7.000000   5.000000   6.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           10 non-null     float64
 3   ProductID        10 non-null     int64
 4   Quant            10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None
<pandas.core.indexing._iLocIndexer object at 0x7c1d207e09a0>

In [49]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df)

0   2010-08-21
1   2011-05-26
2   2011-06-16
3   2012-08-26
4   2013-06-06
5   2013-12-23
6   2013-12-30
7   2014-04-24
8   2015-04-24
9   2016-05-08
Name: TransactionDate, dtype: datetime64[ns]

In [53]:
df['Foo'] = df['UserID'] * df['ProductID']
print(df.head(10))

   TransactionID TransactionDate    UserID  ProductID  Quant        Foo
0              1      2010-08-21  7.000000          2      1  14.000000
1              2      2011-05-26  3.000000          4      1  12.000000
2              3      2011-06-16  3.000000          3      1   9.000000
3              4      2012-08-26  1.000000          2      3   2.000000
4              5      2013-06-06  2.000000          4      1   8.000000
5              6      2013-12-23  2.000000          5      6  10.000000
6              7      2013-12-30  3.000000          4      1  12.000000
7              8      2014-04-24  3.444444          2      3   6.888889
8              9      2015-04-24  7.000000          4      3  28.000000
9             10      2016-05-08  3.000000          4      4  12.000000